.topAlbumContainer{
    min-height:280px;
    width:95%;
    margin-left: 32px;
    gap: 32px;
    margin-bottom: 10px;
}

.buttonContainer{
    display:flex;
    justify-content: space-between;
    
}

.buttonContainer h2{
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color:white;

}
.buttonContainer button{
    background-color: black;
    color: green;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: right;
border: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
}